<footer>
    <nav>
        <a target="_blank" href="https://webpages.charlotte.edu/pgarces">CLT Website</a> | 
        <a target="_blank" href="https://github.com/PabloG55">GitHub.com</a> | 
        <a target="_blank" href="https://pablog55.github.io">GitHub.io</a> | 
        <a target="_blank" href="https://pablog55.github.io/itis3135/">GitHub.io/itis3135</a> | 
        <a target="_blank" href="https://www.freecodecamp.org/PabloG5">freeCodeCamp</a> | 
        <a target="_blank" href="https://www.codecademy.com/profiles/PabloG5">Codecademy</a> | 
        <a target="_blank" href="www.linkedin.com/in/pablogarces5"> LinkedIn</a> 
        <p>Page built by <a href="pgdesignsltd.com/index.html">P.G. Designs Limited</a> ©2024. <a href="https://www.freecodecamp.org/certification/PabloG5/responsive-web-design"> Certified in Responsive Web Design</a></p>
    </nav>
</footer>
