<header>
    <h1>Pablo Garces | Philanthropic Galapagos Tortoise | ITIS-3135</h1>
    <p><em>Preserving our islands, one tortoise at a time.</em></p>
    <nav>
        <a href="index.html">Home</a> | 
        <a href="introduction.html">Introduction</a> | 
        <a href="about.html">Organization</a> | 
        <a href="website_evaluations.html">Website Evaluations</a> |
        <a href="tables.html">Tables</a> |
        <a href="forms.html">Form</a> |
        <a href="project_overview.html">Project Overview</a> |
        <a href="firstscripts.html">Firstscripts</a> |
        <a href="byo_intro.html">BYO Intro</a> |
        <a href="drawing.html">Interactive Drawing</a> |
        <a href="contract.html">Contract</a> 
    </nav>
    <nav>
        <a href="hobby/index.html">Hobby</a> |
        <a href="stuff/1nd&Dex.htm">Crappy</a>  
    </nav>
</header>